@inject HttpClient Http
@using FlaschenpostChallengeApp.Models

@if (ProductsModel == null)
{
  <p><em>Loading...</em></p>
}
else
{
<div class="details">
  @foreach (var p in ProductsModel)
  {
    @foreach (var a in p.Articles)
    {
      <div class="item">
        <div class="imageItem">
          <img class="productImage" src="@a.Image" />
        </div>
        <div class="contentItem">
          <span><b>@p.Name</b></span>
          <span>@(a.Price + " €")</span>
          <span>@a.ShortDescription</span>
          <span>@a.PricePerUnitText</span>
        </div>
      </div>
    }
  }
</div>
}

@code {
  [Parameter]
  public NavigationModel NavigationModel { get; set; }

  [Parameter]
  public EventCallback<NavigationModel> NavigationModelChanged { get; set; }

  [Parameter]
  public List<Product> ProductsModel { get; set; }

  [Parameter]
  public EventCallback<List<Product>> ProductsModelChanged { get; set; }
}
