@inject HttpClient Http
@using FlaschenpostChallengeApp.Models

<h1>Products</h1>

@if (products == null)
{
  <p><em>Loading...</em></p>
}
else
{
  foreach (var p in products)
  {
    <p>@p.Id</p>
    <p>@p.BrandName</p>
    foreach (var a in p.Articles)
    {
      <p>@a.Id</p>
      <p>@a.Price</p>
      <img src="@a.Image" />
    }
  }
}

@code {
  private IEnumerable<Product> products;

  protected override async Task OnInitializedAsync()
  {
    products = await JsonConverter.GetProductsFromJsonAsync();
  }
}
